# Minimal Grafana settings
replicas: 1

persistence:
  enabled: true
  size: 2Gi

resources:
  requests:
    cpu: 50m
    memory: 128Mi
  limits:
    cpu: 200m
    memory: 256Mi

datasources:
  datasources.yaml:
    apiVersion: 1
    datasources:
    - name: Prometheus
      type: prometheus
      access: proxy
      url: http://payflow-prometheus-server.monitoring.svc.cluster.local
      isDefault: true
    - name: Loki
      type: loki
      access: proxy
      url: http://payflow-loki.monitoring.svc.cluster.local:3100
