apiVersion: v1
kind: ConfigMap
metadata:
  name: prometheus-alerts
  namespace: monitoring
data:
  alerts.yml: |
    groups:
      - name: payflow-service-health
        rules:
          - alert: ApiGatewayDown
            expr: up{job="api-gateway"} == 0
            for: 2m
            labels:
              severity: warning
            annotations:
              summary: "api-gateway is down"
              description: "Prometheus has not scraped api-gateway for 2 minutes."
          - alert: AuthServiceDown
            expr: up{job="auth-service"} == 0
            for: 2m
            labels:
              severity: warning
            annotations:
              summary: "auth-service is down"
              description: "Prometheus has not scraped auth-service for 2 minutes."
          - alert: WalletServiceDown
            expr: up{job="wallet-service"} == 0
            for: 2m
            labels:
              severity: warning
            annotations:
              summary: "wallet-service is down"
              description: "Prometheus has not scraped wallet-service for 2 minutes."
          - alert: TransactionServiceDown
            expr: up{job="transaction-service"} == 0
            for: 2m
            labels:
              severity: warning
            annotations:
              summary: "transaction-service is down"
              description: "Prometheus has not scraped transaction-service for 2 minutes."
          - alert: NotificationServiceDown
            expr: up{job="notification-service"} == 0
            for: 2m
            labels:
              severity: warning
            annotations:
              summary: "notification-service is down"
              description: "Prometheus has not scraped notification-service for 2 minutes."
