apiVersion: v1
kind: ConfigMap
metadata:
  name: prometheus-config
  namespace: monitoring
data:
  prometheus.yml: |
    global:
      scrape_interval: 15s
      evaluation_interval: 15s
    rule_files:
      - /etc/prometheus/alerts/*.yml
    scrape_configs:
      - job_name: prometheus
        static_configs:
          - targets: ["prometheus:9090"]
      - job_name: api-gateway
        metrics_path: /metrics
        static_configs:
          - targets: ["api-gateway.payflow:80"]
      - job_name: auth-service
        metrics_path: /metrics
        static_configs:
          - targets: ["auth-service.payflow:3004"]
      - job_name: wallet-service
        metrics_path: /metrics
        static_configs:
          - targets: ["wallet-service.payflow:3001"]
      - job_name: transaction-service
        metrics_path: /metrics
        static_configs:
          - targets: ["transaction-service.payflow:3002"]
      - job_name: notification-service
        metrics_path: /metrics
        static_configs:
          - targets: ["notification-service.payflow:3003"]
