apiVersion: apps/v1
kind: DaemonSet
metadata:
  name: promtail
  namespace: monitoring
  labels:
    app: promtail
spec:
  selector:
    matchLabels:
      app: promtail
  template:
    metadata:
      labels:
        app: promtail
    spec:
      serviceAccountName: promtail
      containers:
        - name: promtail
          image: grafana/promtail:2.9.8
          args:
            - -config.file=/etc/promtail/promtail.yml
          ports:
            - containerPort: 9080
          resources:
            requests:
              cpu: 100m
              memory: 128Mi
            limits:
              cpu: 250m
              memory: 256Mi
          volumeMounts:
            - name: promtail-config
              mountPath: /etc/promtail
            - name: promtail-positions
              mountPath: /run/promtail
            - name: var-log-pods
              mountPath: /var/log/pods
              readOnly: true
            - name: var-log-containers
              mountPath: /var/log/containers
              readOnly: true
      volumes:
        - name: promtail-config
          configMap:
            name: promtail-config
        - name: promtail-positions
          emptyDir: {}
        - name: var-log-pods
          hostPath:
            path: /var/log/pods
        - name: var-log-containers
          hostPath:
            path: /var/log/containers
