# yaml-language-server: $schema=https://kubernetesjsonschema.dev/v1.28.0/policy-v1-poddisruptionbudget.json
apiVersion: policy/v1
kind: PodDisruptionBudget
metadata:
  name: api-gateway-pdb
  namespace: payflow
spec:
  minAvailable: 1
  selector:
    matchLabels:
      app: api-gateway
---
apiVersion: policy/v1
kind: PodDisruptionBudget
metadata:
  name: auth-service-pdb
  namespace: payflow
spec:
  minAvailable: 1
  selector:
    matchLabels:
      app: auth-service
---
apiVersion: policy/v1
kind: PodDisruptionBudget
metadata:
  name: wallet-service-pdb
  namespace: payflow
spec:
  minAvailable: 1
  selector:
    matchLabels:
      app: wallet-service
---
apiVersion: policy/v1
kind: PodDisruptionBudget
metadata:
  name: transaction-service-pdb
  namespace: payflow
spec:
  minAvailable: 1
  selector:
    matchLabels:
      app: transaction-service
---
apiVersion: policy/v1
kind: PodDisruptionBudget
metadata:
  name: notification-service-pdb
  namespace: payflow
spec:
  minAvailable: 1
  selector:
    matchLabels:
      app: notification-service
---
apiVersion: policy/v1
kind: PodDisruptionBudget
metadata:
  name: frontend-pdb
  namespace: payflow
spec:
  minAvailable: 1
  selector:
    matchLabels:
      app: frontend
