apiVersion: v1
kind: ResourceQuota
metadata:
  name: payflow-quota
  namespace: payflow
spec:
  hard:
    requests.cpu: "2"
    requests.memory: 4Gi
    limits.cpu: "4"
    limits.memory: 8Gi
    pods: "10"
    secrets: "5"
