apiVersion: apps/v1
kind: Deployment
metadata:
  name: redis
  namespace: payflow
spec:
  replicas: 1
  strategy:
    type: RollingUpdate
    rollingUpdate:
      maxSurge: 1
      maxUnavailable: 0
  selector:
    matchLabels:
      app: redis
  template:
    metadata:
      labels:
        app: redis
    spec:
      containers:
      - name: redis
        image: redis:7-alpine
        ports:
        - containerPort: 6379

        # Redis itself does NOT need REDIS_HOST / REDIS_PORT
        # Those are for clients, not the server

        args:
          - "--appendonly"
          - "yes"

        volumeMounts:
        - name: redis-data
          mountPath: /data

        resources:
          requests:
            memory: "64Mi"
            cpu: "50m"
          limits:
            memory: "256Mi"
            cpu: "200m"

        livenessProbe:
          exec:
            command:
              - redis-cli
              - ping
          initialDelaySeconds: 30
          periodSeconds: 10

        readinessProbe:
          exec:
            command:
              - redis-cli
              - ping
          initialDelaySeconds: 5
          periodSeconds: 5

      volumes:
      - name: redis-data
        emptyDir: {}
